<!doctype html>
<html lang="en">

<head>
  <title>AcadeMall</title>
   <link rel="icon" type="image/x-icon" href="public/images/favicon.ico">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="//db.onlinewebfonts.com/c/1308b9fd70f82350f3ebb8d80a1d8497?family=Gentleman" rel="stylesheet"
    type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/css/loading.css">
  <link rel='stylesheet' href='/public/css/badge.css' />
  <link rel='stylesheet' href='/public/css/search.css' />
  <style>
    * {
      scroll-behavior: smooth;
    }
       .just-padding {
  padding: 15px;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px;
}


.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 45px;
}
.active-side{
  background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

  border: none;
  color: white;
  cursor: pointer;
  transition:all 0.1s ease-in-out;
  box-shadow: 0px 17px 99px -7px rgba(243,64,121,0.51);
}
.active-child{
background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

  border: none;
  border-radius: 12px;
  color: white
  cursor: pointer;
  transition:all 0.1s ease-in-out;
  box-shadow: 0px 17px 99px -7px rgba(243,64,121,0.51);
}
  </style>
  {{{_sections.css}}}
</head>

<body>
  <div class="overlay" style="background-color: red;">
    <div class="overlayDoor"></div>
    <div class="overlayContent">
      <div class="loader">
        <div class="inner"></div>
      </div>
    </div>
  </div>

  {{>header}}
      <div class="container-fluid" style="margin-top: 100px;">
        <div class='row m-4'>
        <div class='col-sm-3'>
          <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Menu
                </div>
                <ul class="list-group list-group-flush">
                    <a name="" id="" class="list-group-item" href="/admin/categories" role="button">Categories</a>
                    <a name="" id="" class="list-group-item" href="/admin/courses?p=1" role="button">Courses</a>
                    <div class="dropdown">
                        <a class="btn dropdown-toggle list-group-item text-left" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                          Users
                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item list-group-item" href="/admin/user?role=2">Student</a>
                          <a class="dropdown-item list-group-item" href="/admin/user?role=1">Instructor</a>
                        </div>
                    </div>
                </ul>
                
            </div>
            {{#if this.showFilter}}
              <div class="row">
                <div class="just-padding mt-3" style="flex: 1;">
                  <div class="card-header"> Filter Categories</div>
                    <div class="list-group list-group-root well">
                        {{#each category as |cat|}}        
                            <a href="/admin/courses?catId={{cat.IDCate}}&p=1" class="list-group-item {{#if cat.active}}active-side{{/if}}"><b>{{cat.Name}}</b></a>
                            {{#if cat.active}}
                                <div class="list-group">
                                    {{#each (lookup ../topics @index) as |topic|}}
                                    <a href="/admin/courses/?catId={{cat.IDCate}}&topicId={{topic.IDTopic}}&p=1" class="list-group-item {{#if topic.active}}active-child{{/if}}">{{topic.Name}}</a>
                                    {{/each}}
                                 </div>                                                
                            {{/if}}
                            
                        {{/each}}
                        
                    </div>
                </div>
            </div>
          
            <div class="row">
                <div class="just-padding mt-3" style="flex: 1;">
                  <div class="card-header"> Filter Instructor</div>
                    <div class="list-group list-group-root well">
                        {{#each this.instructor as |ins|}}        
                            <a href="/admin/courses?instructor={{IDUser}}&p=1" class="list-group-item {{#if ins.active}}active-side{{/if}}"><b>{{ins.FullName}}</b></a>
                            
              
                        {{/each}}
                        
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
        <div class="col-sm-9">
            {{{body}}}  
        </div>
      </div>
      </div>

  {{>footer}}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script>
    $(window).on('load', function () {
      $('.overlay').remove();
    }) 

  </script>
  {{{_sections.script}}}
</body>

</html>