<div>
  {{#if this.isEmpty}}
  <p>No Data</p>
  {{else}}
  <div class="card mb-3">
    <div class="bgimg" style="display: flex; justify-content:center; background-image:">
      <style>
        .bgimg{
          background-image: url("https://thietbiketnoi.com/wp-content/uploads/2020/01/tong-hop-hinh-nen-background-vector-designer-dep-do-phan-giai-fhd-2k-4k-moi-nhat-2-1024x683.jpg");
        }
      </style>
    <img src="/public/images/courses/{{course.ID}}.jpg" class="card-img-top" alt="..."
       style="max-width: 65%;
  height: auto;"/>
</div>
    <div class="card-body" style="background-color:black;color:white">
      <div style="display:inline-block; font-weight:bold">
        <a href="/categories?catID={{this.course.IDCate}}">{{this.course.CatName}}</a>
        <i class="fa-solid fa-chevron-right"></i>
        <a href="/categories/{{this.course.IDCate}}?topicID={{this.course.IDTopic}}">{{this.course.TopicName}}</a>
        <br />
        <br />
      </div>
      <h1 class="card-title">{{this.course.Name}}</h1>
      <p class="card-text" style="font-size:x-large;">{{this.course.TinyDesc}}</p>

      <p class="card-text" style="font-size:medium;">Instructor:
        {{this.course.Instructor}}</p>

      <p class="card-text" style="font-size:medium;">Total Lecture:
        {{this.course.TotalLecture}}
        lectures
        <br />
        Total Length:
        {{this.course.TotalLength}}
        hours
      </p>

      <p class="card-text" style="font-size:medium;">Average rating:
        {{this.course.AvgRating}}/5</p>
      <p class="card-text" style="font-size:medium;">Number of rating: 500k+</p>
      <p class="card-text" style="font-size:medium;">Number of student: 1m+</p>
      <p class="card-text"><small class="text-muted">Last modify:
          {{this.course.ModifiedTime}}mm/dd/yyyy</small></p>

    </div>

  </div>
  <div class="row">
    <div class="col-8">
      <div style="padding:10%; padding-top:0%">
        <div class="card">
          <div class="card-body">

            <h5 class="card-title">&nbsp;<i class="fa-solid fa-check"></i>
              &nbsp; What you will learn in this course</h5>
            <p class="card-text">
              {{{this.course.FullDesc}}}
            </p>

          </div>
        </div>
        <br />
        <h3>Course's Contents</h3>

        <style>
          .chapter {
            border-bottom: 1px dotted #ccc;
            padding: 1em 0;
          }

          .icon_drop {
            font-size: xx-large;
            line-height: 1em;
            color: #aaa;
            font-family:
              sans-serif;
            float: left;
            font-weight: 700;
            padding-right: 0.3em;
            -webkit-transition: all 200ms;
            -moz-transition: all 200ms;
            transition:
              all 200ms;
          }

          .effect_icon_drop {
            transform: rotate(-45deg);
            transform-origin: 50% 50%;
            -ms-transform: rotate(-45deg);
            -ms-transform-origin: 50% 50%;
            -webkit-transform: rotate(-45deg);
            -webkit-transform-origin: 50% 50%;
            -webkit-transition: all 200ms;
            -moz-transition: all 200ms;
            transition: all 200ms;
          }

          .chapter_content {
            cursor: pointer;
            font-size: 1.5em;
            font-weight: 100;
          }

          .lecture {
            clear:
              both;
            color: #666;

            padding-left: 1.5em;
          }
        </style>
        {{#each this.chapters as |chapter|}}
        <div class="chapter">
          <div class="chapter_content">
            <span class="icon_drop">+</span>{{chapter.Name}}
          </div>
          <div class="lecture" id="lecture">
            <br>
            <div class="card">

              {{#each (lookup ../videos @index) as |video|}}

              <li class="list-group-item">
                <div style="display: flex; justify-content:space-between">
                  <h6 class="text"><a
                      href="/course/{{video.IDCourse}}?chapterId={{video.IDChapter}}&lectureId={{video.No}}"
                      style="text-decoration: none; color: black; pointer-events: none; cursor: default;">&nbsp;
                      {{video.No}}. {{video.Name}} </a></h6>
                  {{#if video.IsPreview}}
                  <div class="preview" style="color: blue; cursor: pointer" data-toggle="modal"
                    data-target="#exampleModal">Preview</div>
                  <div class="modal fade" id="exampleModal" aria-hidden="true">

                    <div class="modal-dialog" style="display: flex;justify-content: center;">
                      <div class="modal-content"
                        style="background-color: rgb(59, 59, 59); color: white; width:min-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Preview</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <iframe width="853" height="480" src="https://www.youtube.com/embed/{{video.URL}}" title=""
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        </div>
                        <div class="modal-footer"
                          style="display: flex; flex-direction:row; justify-content: flex-start">
                          <h5 class="text">
                            {{video.Name}} </h5>

                          {{!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> --}}

                        </div>
                      </div>
                    </div>
                  </div>
                  {{/if}}
                </div>

                <div class="text" style="display: flex;justify-content: flex-end;"><i class="bi bi-clock"></i> &nbsp;
                  {{convertMinuteToHour video.Length}}</div>
              </li>
              {{/each}}

            </div>
          </div>
        </div>

        {{/each}}
      </div>
    </div>
    <div class="col-4">
      {{#ifeq auth.Role 2}}
        <div class="buy-course">
            <div class="card" style="width: 18rem;">
              <img src="/public/images/courses/{{course.ID}}.jpg" class="card-img-top" alt="...">
              <div class="card-body" style="display: flex; justify-content:center; flex-direction: column;">
                {{#if this.isAuth}}
                {{#if this.isOwn}}
                <span class="own" style="font-size: 22px;">You own this course</span>
                {{else}}
                {{#if course.PercentDiscount}}
                <del><span class="old-price ">{{formatCurrency this.course.CourseFee}}</span></del>
                {{/if}}
                <span class="new-price float-right" style="font-size: 22px;">{{formatCurrency (calculateNewPrice
                  this.course.PercentDiscount this.course.CourseFee)}}</span>
                {{/if}}
                <br>
                {{#if this.isOnWatchList}}
                <a href="./course?id={{course.ID}}" class="btn btn-outline-primary" course="{{course.ID}}"
                  onclick="removeWatchList(this)" style="cursor: pointer">Remove from watch list </a>
                {{else}}
                <a href="./course?id={{course.ID}}" class="btn btn-outline-primary" course="{{course.ID}}"
                  onclick="addWatchList(this)" style="cursor: pointer">Add to watch list </a>
                {{/if}}
                <br>
                {{#if this.isOwn}}
                <a href="/course/{{course.ID}}?chapterId=1&lectureId=1" class="btn btn-outline-success">Go to course</a>
                {{else}}
                <a href="./course?id={{course.ID}}" class="btn btn-outline-success" course="{{course.ID}}"
                  onclick="buy(this)" style="cursor: pointer">Buy now</a>
                {{/if}}
                {{else}}
                {{#if course.PercentDiscount}}
                <del><span class="old-price ">{{formatCurrency this.course.CourseFee}}</span></del>
                {{/if}}
                <span class="new-price float-right" style="font-size: 22px;">{{formatCurrency (calculateNewPrice
                  this.course.PercentDiscount this.course.CourseFee)}}</span>
                <a href="./auth/login" class="btn btn-outline-primary">Add to watch list </a>
                <br>
                <a href="./auth/login" class="btn btn-outline-success">Buy now</a>
                {{/if}}
                <br>
                <p class="card-text">Ensuring refund in 30days</p>
              </div>
            </div>
          </div>
      {{else}}
      
    {{/ifeq}}
     

      <div class="feedback">
        <div class="container justify-content-center mt-5 border-left border-right">
          <h3>Feedback</h3>
          {{#each this.feedback}}
          <div class="d-flex justify-content-flex-start py-2">
            <div class="second py-2 px-2">
              <div class="d-flex justify-content-between py-1 pt-2">
                <div><img src="https://uybor.uz/borless/avtobor/img/user-images/user_no_photo_600x600.png"
                    width="30"><span class="text2">
                    <h5>{{FullName}}</h5>
                  </span></div>
              </div>
              <span class="text1">{{Feedback}}</span>
              <div class="rating mt-1" rating_score={{#if Rating}}{{Rating}}{{else}}0{{/if}} rating_count={{Rating}}>
              </div>
              <script src="/public/script/rating.js"></script>
              <script> renderRating('.rating')</script>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    
    
  </div>
</div>
<div class='col ml-5'>
  <div class="outstanding-course mt-5">
    <p>Relevent Courses</p>
  </div>
  <div class="row">
    {{#if this.isEmpty}}
    <p>No data</p>
    {{else}}
    {{#each coursesList as |course|}}
    <div class="col-auto mt-3">
      <div class="card product-item popover-{{course.ID}}" style="max-width:300px; min-width:300px">
        <img src="/public/images/courses/{{course.ID}}.jpg" width="250" height="150" style="object-fit: fill;"
          class="card-img-top" alt="...">
        <div class="card-body">
          <a href="/course?id={{course.ID}}">
            <h5 class="card-title product-title">{{course.Name}}</h5>
          </a>
          <span class="text-muted product-category">{{course.TopicName}}</span>
          <small class="text-muted">Ins: {{course.Instructor}}</small>
          <div class="rating mt-1" rating_score={{#if course.AvgRating}}{{course.AvgRating}}{{else}}0{{/if}}
            rating_count={{course.CountRating}}>
          </div>
          <div class="product-price-wrapper mt-3">
            {{#if course.PercentDiscount}}
            <span class="old-price ">{{formatCurrency course.CourseFee}}</span>
            {{/if}}
            <span class="new-price float-right" style="font-size: 22px;">{{formatCurrency (calculateNewPrice
              course.PercentDiscount course.CourseFee)}}</span>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
    {{/if}}
  </div>
  <div class="page-container">
    <div id="pagination"></div>
  </div>
</div>
{{/if}}
</div>
<script>
  function buy(t) {
    let IDCourse = t.getAttribute(`course`);
    $.get(`/course/buy?courseId=${IDCourse}`)

  }
  function addWatchList(t) {
    let IDCourse = t.getAttribute(`course`);
    $.get(`/course/addWatchList?courseId=${IDCourse}`)
  }
  function removeWatchList(t) {
    let IDCourse = t.getAttribute(`course`);
    $.get(`/course/removeWatchList?courseId=${IDCourse}`)
  }
</script>