<link rel='stylesheet' href='/public/css/home.css' />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="/public/css/slick.css">
<link rel="stylesheet" href="/public/css/create-course.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css" />
<div>
  {{#if this.isEmpty}}
  <p>No Data</p>
  {{else}}
  <div class="card mb-3">
    <div class="bgimg" style="display: flex; justify-content:center;">
      <style>
        .bgimg {
          background-image: url("https://thietbiketnoi.com/wp-content/uploads/2020/01/tong-hop-hinh-nen-background-vector-designer-dep-do-phan-giai-fhd-2k-4k-moi-nhat-2-1024x683.jpg");
        }
      </style>
      <img src="/public/images/courses/{{course.ID}}.jpg" class="card-img-top" alt="..." style="max-width: 65%;
  height: auto;" />
    </div>
    <div class="card-body" style="background-color:black;color:white">
      <div style="display:inline-block; font-weight:bold">
        <a href="/categories?catID={{this.course.IDCate}}">{{this.course.CatName}}</a>
        <i class="fa-solid fa-chevron-right"></i>
        <a href="/categories/{{this.course.IDCate}}?topicID={{this.course.IDTopic}}">{{this.course.TopicName}}</a>
        <br />
        <br />
      </div>
      <div class="col-8">
        <h1 class="card-title">{{this.course.Name}}</h1>
        <p class="card-text" style="font-size:x-large;">{{this.course.TinyDesc}}</p>

        <p class="card-text" style="font-size:medium;">Total Lecture:
          {{this.course.TotalLecture}}
          lectures
        </p>
        <p class="card-text" style="font-size:medium;">
          Total Length:
          {{convertMinuteToHour this.course.TotalLength}}
        </p>

        <p class="card-text" style="font-size:medium;">Average rating:
          {{this.course.AvgRating}} <i class="fa fa-star" aria-hidden="true"></i>/5 <i class="fa fa-star"
            aria-hidden="true"></i></p>
        <p class="card-text" style="font-size:medium;">Number of rating: {{this.course.CountRating}}</p>
        <p class="card-text" style="font-size:medium;">Number of student: {{this.numOfStudent}}</p>
        <p class="card-text"><small class="text-muted">Last modify:
            {{this.course.ModifiedTime}}</small></p>

      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-8">
      <div style="padding:10%; padding-top:0%">
        <div class="card">
          <div class="card-body">

            <h5 class="card-title">&nbsp;<i class="fa fa-graduation-cap" aria-hidden="true"></i>
              &nbsp; What you will learn in this course</h5>
            <p class="card-text">
              {{{this.course.FullDesc}}}
            </p>

          </div>
        </div>
        <br>
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 style="margin: 0" class="mb-0">
                <button style="width: 100%; display: flex; justify-content:flex-start" class="btn btn-light"
                  type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                  aria-controls="collapseOne">
                  <h5 class="card-title">&nbsp;<i class="fa fa-address-book" aria-hidden="true"></i>
                    &nbsp; Instructor Infomation</h5>
                </button>
              </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <div style="height: 400px; overflow: auto">
                  <p class="card-text">
                  <p style="    font-size: 24px;
    font-family: 'Gentleman';
    text-align: center;">{{course.Instructor}}</p>
                  <span style="display: block;
    font-size: 21px;
    color: #a1a1a1;
    font-family: 'Gentleman';
    text-align: center;
    margin: -10px 0 16px 0;
    font-style: italic;">{{this.ins.CurrentJob}}</span>
                  {{{this.ins.Bio}}}
                  </p>
                </div>

              </div>
            </div>
          </div>
        </div>
        <br />
        <h3>Course's Contents</h3>

        <style>
          .chapter {
            border-bottom: 1px dotted #ccc;
            padding: 1em 0;
          }

          .icon_drop {
            font-size: xx-large;
            line-height: 1em;
            color: #aaa;
            font-family:
              sans-serif;
            float: left;
            font-weight: 700;
            padding-right: 0.3em;
            -webkit-transition: all 200ms;
            -moz-transition: all 200ms;
            transition:
              all 200ms;
          }

          .effect_icon_drop {
            transform: rotate(-45deg);
            transform-origin: 50% 50%;
            -ms-transform: rotate(-45deg);
            -ms-transform-origin: 50% 50%;
            -webkit-transform: rotate(-45deg);
            -webkit-transform-origin: 50% 50%;
            -webkit-transition: all 200ms;
            -moz-transition: all 200ms;
            transition: all 200ms;
          }

          .chapter_content {
            cursor: pointer;
            font-size: 1.5em;
            font-weight: 100;
          }

          .lecture {
            clear:
              both;
            color: #666;

            padding-left: 1.5em;
          }
        </style>
        {{#each this.chapters as |chapter|}}
        <div class="chapter">
          <div class="chapter_content">
            <span class="icon_drop">+</span>{{chapter.Name}}
          </div>
          <div class="lecture" id="lecture">
            <br>
            <div class="card">

              {{#each (lookup ../videos @index) as |video|}}

              <li class="list-group-item">
                <div style="display: flex; justify-content:space-between">
                  <h6 class="text"><a
                      href="/course/{{video.IDCourse}}?chapterId={{video.IDChapter}}&lectureId={{video.No}}"
                      style="text-decoration: none; color: black; pointer-events: none; cursor: default;">&nbsp;
                      {{video.No}}. {{video.Name}} </a></h6>
                  {{#if video.IsPreview}}
                  <div class="preview" style="color: blue; cursor: pointer" data-toggle="modal"
                    data-target="#exampleModal{{video.URL}}">Preview</div>
                  <div class="modal fade" id="exampleModal{{video.URL}}" aria-hidden="true">

                    <div class="modal-dialog" style="display: flex;justify-content: center;">
                      <div class="modal-content"
                        style="background-color: rgb(59, 59, 59); color: white; width:min-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Preview</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">

                          <iframe width="853" height="480" src="https://www.youtube.com/embed/{{video.URL}}" title=""
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        </div>
                        <div class="modal-footer"
                          style="display: flex; flex-direction:row; justify-content: flex-start">
                          <h5 class="text">
                            {{video.Name}} </h5>

                          {{!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> --}}

                        </div>
                      </div>
                    </div>
                  </div>
                  {{/if}}
                </div>

                <div class="text" style="display: flex;justify-content: flex-end;"><i class="bi bi-clock"></i> &nbsp;
                  {{convertMinuteToHour video.Length}}</div>
              </li>
              {{/each}}

            </div>
          </div>
        </div>
        {{/each}}


      </div>
    </div>
    <div class="col-4">
      {{#ifeq auth.Role 0}}

      {{else}}
      <div class="buy-course">
        <div class="card" style="width: 18rem;">
          <img src="/public/images/courses/{{course.ID}}.jpg" class="card-img-top" alt="...">
          <div class="card-body" style="display: flex; justify-content:center; flex-direction: column;">
            {{#ifeq auth.IDUser course.IDInstructor}}
            <div class="btn btn-outline-dark" type="button" data-toggle="modal" data-target="#exampleModal">Edit
              infomation <i class="bi bi-pencil-fill"></i></div>
            <div class="modal fade" id="exampleModal" aria-hidden="true">

              <div class="modal-dialog" style="display: flex;justify-content: center; min-width:1000px">
                <div class="modal-content" style="background-color: #fff; color: black;">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="/instructor/detail-view-edit" method="POST" enctype="multipart/form-data" id="form_table" class="form-1 mainForm mt-1" novalidate>
                      <h2 style="color: #000472; margin:0">Course information</h2>
                      <hr>

                      <input type="text" name="ID" id="" value="{{course.ID}}" style="display: none;">

                      <div class="input-field col s12 mt-4 form__group ">
                        <input type="text" name="Name" class="name pl-4" id="Name" autocomplete="none"
                          value="{{course.Name}}">
                        <label for="Name" class="active">Course title*</label>
                        
                        <span class="form__group-message email-message"></span>
                      </div>

                      <div class="input-field col s12 mt-4 form__group ">
                        <input type="text" name="TinyDes" class="TinyDes pl-4" id="TinyDes" autocomplete="none"
                          value="{{course.TinyDesc}}">
                        <label for="TinyDes" class="active">Course brief description</label>
                        
                        <span class="form__group-message email-message"></span>
                      </div>

                      <div class=" col s12 mt-5 form__group ">
                        <label for="FullDes">Detail destination</label>
                        <textarea name="FullDes" id="FullDes" rows="10"
                          style="width: 100%">{{course.FullDesc}}</textarea>
                        
                        <span class="form__group-message email-message"></span>
                      </div>

                      <div class="row mt-5 ml-1 " style="width: 100%">
                        <div class="col form__group">
                          <label>Category*</label>
                          <select class="custom-select custom-select mb-3 choice-cate" id="cate-input" name="IDCate">
                            <option value="" selected>Select Category</option>
                            {{#each listCate as |item|}}
                            <option value="{{item.IDCate}}">{{item.Name}}</option>
                            {{/each}}
                          </select>
                          
                          <span class="form__group-message email-message"></span>
                        </div>
                        <div class="col form__group">
                          <label>Topic*</label>
                          <select class="custom-select custom-select mb-3 choice-topic" id="topic-input" name="IDTopic">
                            <option value="" selected>Select Topic</option>
                          </select>
                          
                          <span class="form__group-message email-message"></span>
                        </div>
                      </div>
                      <div class=" col s12 mt-2">
                        <label for="fuMain">Photo</label>
                        <input type="file" id="image" name="image" accept=".jpg,.png,.gif"
                          value="C:\Users\GF75\Desktop\dog.jpg">

                      </div>

                      <div class="row mt-5 ml-1 " style="width: 100%">
                        <div class="input-field col s12 form__group">
                          <label for="Price" class="active">Price</label>
                          <input class="required" type="text" name="Price" id="Price"
                            pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency"
                            value="{{course.CourseFee}}">
                          
                          <span class="form__group-message email-message"></span>
                        </div>
                        <div class="col s12 input-field form__group">
                          <label for="Discount" class="active">Discount Percent</label>
                          <input type="number" name="Discount" id="Discount" min="0" max="100"
                            value="{{course.PercentDiscount}}">
                        </div>
                      </div>
                      <button type="submit" class="btn btn-lg btn-block" style="color: white; background-color: #000472;">Update this course</button>

                  </form>
                  </div>

                </div>
              </div>
            </div>
            <a href="/instructor/edit/{{course.ID}}" class="btn btn-outline-dark mt-3" style="cursor: pointer">Edit this
              course &nbsp;<i class="fa-solid fa-pen-to-square"></i></a>
            {{else}}
            {{#if this.isAuth}}
            {{#if this.isOwn}}
            <span class="own" style="font-size: 22px;">You own this course</span>
            {{else}}
            {{#if course.PercentDiscount}}
            <del><span class="old-price ">{{formatCurrency this.course.CourseFee}}</span></del>
            {{/if}}
            <span class="new-price float-right" style="font-size: 22px;">{{formatCurrency (calculateNewPrice
              this.course.PercentDiscount this.course.CourseFee)}}</span>
            {{/if}}
            <br>
            {{#if this.isOnWatchList}}
            <a href="./course?id={{course.ID}}" class="btn btn-outline-danger" course="{{course.ID}}"
              onclick="removeWatchList(this)" style="cursor: pointer">Remove from watch list &nbsp;<i
                class="bi bi-x-lg"></i> </a>
            {{else}}
            <a href="./course?id={{course.ID}}" class="btn btn-outline-danger" course="{{course.ID}}"
              onclick="addWatchList(this)" style="cursor: pointer">Add to watch list &nbsp;<i class="bi bi-heart"></i>
            </a>
            {{/if}}
            <br>
            {{#if this.isOwn}}
            <a href="/course/{{course.ID}}?chapterId=1&lectureId=1" class="btn btn-outline-success">Go to course
              &nbsp;<i class="bi bi-book"></i></a>
            {{else}}
            <a href="./course?id={{course.ID}}" class="btn btn-outline-success" course="{{course.ID}}"
              onclick="buy(this)" style="cursor: pointer">Buy now &nbsp;<i class="bi bi-cart"></i></a>
            {{/if}}
            {{else}}
            {{#if course.PercentDiscount}}
            <del><span class="old-price ">{{formatCurrency this.course.CourseFee}}</span></del>
            {{/if}}
            <span class="new-price float-right" style="font-size: 22px;">{{formatCurrency (calculateNewPrice
              this.course.PercentDiscount this.course.CourseFee)}}</span>
            <a href="./auth/login" class="btn btn-outline-danger">Add to watch list &nbsp;<i class="bi bi-heart"></i>
            </a>
            <br>
            <a href="./auth/login" class="btn btn-outline-success">Buy now &nbsp;<i class="bi bi-cart"></i></a>
            {{/if}}

            {{/ifeq}}
            <br>
            <span class="card-text"><i class="fa-solid fa-rotate-right mr-1"></i> Ensuring refund in 30 days</span>
            <span class="card-text"><i class="fa-solid fa-infinity mr-1"></i> Full lifetime access</span>


          </div>
        </div>
      </div>


      {{/ifeq}}


      <div class="feedback_container">
        <div class="container justify-content-center mt-5 border-left border-right">
          <h3>Feedback</h3>
          {{#each this.feedback}}
          <div class="d-flex justify-content-flex-start py-2">
            <div class="second py-2 px-2">
              <div class="d-flex justify-content-between py-1 pt-2">
                <div><img src="https://uybor.uz/borless/avtobor/img/user-images/user_no_photo_600x600.png"
                    width="30"><span class="text2">
                    <h5>{{FullName}}</h5>
                  </span></div>
              </div>
              <span class="text1">{{Feedback}}</span>
              <div class="rating mt-1" rating_score={{#if Rating}}{{Rating}}{{else}}0{{/if}} rating_count={{Rating}}>
              </div>


            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>


  </div>
</div>

<div class="container-sm popular-courses ml-4 mr-4" data-aos="zoom-in" style="padding-top: 50px;">
  <h2 style="margin: 0" class="slider-title mb-3">Relevant Course</h2>
  <div class="container-sm ml-5 mr-5">
    <div class="card-deck slick-4">

      {{#each coursesList as |course|}}
      <div class="card product-item popover-{{course.ID}}" style="position: relative; max-width: 300px">
        <a href="/course?id={{course.ID}}" class="anchor-cover"></a>
        <img src="/public/images/courses/{{course.ID}}.jpg" height="170" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title product-title" style="min-height:38px">{{course.Name}}</h5>
          <a href="categories/{{course.IDCate}}?topicID={{course.IDTopic}}"><span
              class="text-muted product-category">{{course.TopicName}}</span></a>
          <small class="text-muted">{{#if course.Instructor}}{{course.Instructor}}{{else}}Undefined{{/if}}</small>
          <div class="rating rating2 mt-1" rating_score={{#if course.AvgRating}}{{course.AvgRating}}{{else}}0{{/if}}
            rating_count={{CountRating}}> {{!-- chỉ cần thêm attribute như thế này thì script
            sẽ tự render rating --}}
          </div>
          <div class="product-price-wrapper mt-3">
            {{#if course.PercentDiscount}}
            <span class="old-price ">{{formatCurrency course.CourseFee}}</span>
            {{/if}}
            <span class="new-price float-right">{{formatCurrency (calculateNewPrice course.PercentDiscount
              course.CourseFee)}}</span>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
{{/if}}
</div>
<script src="/public/script/rating.js"></script>
<script> renderRating('.rating')</script>
{{#section 'script'}}
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
  $('.slick-4').slick({
    dots: true,
    infinite: true,
    speed: 400,
    slidesToShow: 4,
    slidesToScroll: 4,
    autoplay: true,
    autoplaySpeed: 2500,
    responsive: [
      {
        breakpoint: 1200,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 3,
          infinite: true,
          dots: true
        }
      },
      {
        breakpoint: 785,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2,
          dots: false,
          arrows: false
        }
      },
      {
        breakpoint: 560,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          dots: false,
          arrows: false
        }
      }
    ]
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/buffer.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/filetype.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/piexif.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/sortable.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/fileinput.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/themes/fa4/theme.min.js"></script>
<script src="https://cdn.tiny.cloud/1/mkaemydy8btg089p8s8hb1ok60gyatj2vdic9oibqqlru367/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
      selector: '#FullDes',
      menubar: false,
      plugins: ['paste',  'link', 'autolink', 'lists','table'],
      toolbar: [
        'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
      ],
    }); 
</script>
<script>
    $('#image').fileinput({
      dropZoneEnabled: false,
      maxFileCount: 1,
      theme: 'fa4',
      allowedFileExtensions: ['jpg', 'png', 'gif'],
      initialPreview: [
         "/public/images/courses/{{course.ID}}.jpg"
      ] ,
      initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
    initialPreviewFileType: 'image',
    
    });
  </script>
  <script>
    // Jquery Dependency

$("input[data-type='currency']").on({
    keyup: function() {
      formatCurrency($(this));
    },
    blur: function() { 
      formatCurrency($(this), "blur");
    }
});
let priceInput = document.querySelector("input[data-type='currency']")
priceInput.focus();
priceInput.blur();

function formatNumber(n) {
  // format number 1000000 to 1,234,567
  return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
}


function formatCurrency(input, blur) {
  // appends $ to value, validates decimal side
  // and puts cursor back in right position.
  
  // get input value
  var input_val = input.val();
  
  // don't validate empty input
  if (input_val === "") { return; }
  
  // original length
  var original_len = input_val.length;

  // initial caret position 
  var caret_pos = input.prop("selectionStart");
    
  // check for decimal
  if (input_val.indexOf(".") >= 0) {

    // get position of first decimal
    // this prevents multiple decimals from
    // being entered
    var decimal_pos = input_val.indexOf(".");

    // split number by decimal point
    var left_side = input_val.substring(0, decimal_pos);
    var right_side = input_val.substring(decimal_pos);

    // add commas to left side of number
    left_side = formatNumber(left_side);

    // validate right side
    right_side = formatNumber(right_side);
    
    // On blur make sure 2 numbers after decimal
  
    
    // Limit decimal to only 2 digits
    right_side = right_side.substring(0, 2);

    // join number by .
    input_val = "$" + left_side + "." + right_side;

  } else {
    // no decimal entered
    // add commas to number
    // remove all non-digits
    input_val = formatNumber(input_val);
    input_val =  input_val;
    

  }
  
  // send updated string to input
  input.val(input_val);

  // put caret back in the right position
  var updated_len = input_val.length;
  caret_pos = updated_len - original_len + caret_pos;
  input[0].setSelectionRange(caret_pos, caret_pos);
}
  </script>
  <script>
    async function  getTopic(catID){
        await $.get(`/instructor/cat/${catID}`, function(result){
            let html = `<option value="" selected>Select Topic</option>`;
            Array.from(result).forEach(topic=>{
                let topId = topic.IDTopic;
                let topName = topic.Name;
                html += `<option value="${topId}">${topName}</option>`
            })
            topicInput.innerHTML = html;
        })
    }
    let cateInput = document.querySelector('#cate-input');
    let topicInput = document.querySelector("#topic-input")
    cateInput.onchange = ()=>{
        let catID = cateInput.value
        if(catID == 0)
            return topicInput.innerHTML = `<option value="" selected>Select Topic</option>`;
        getTopic(catID);
        
    }
    document.querySelector('body').onload = async ()=>{
        let IDCate = {{course.IDCate}};
        let IDTopic = {{course.IDTopic}};
        cateInput.querySelector(`option[value='${IDCate}'`).setAttribute('selected','');
        await getTopic(IDCate);
        topicInput.querySelector(`option[value='${IDTopic}'`).setAttribute('selected','');
    }
  </script>


{{/section}}
<script src="/public/script/validate.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    Validator(
        {
            form: ".form-1",
            error_message: ".form__group-message",
            rules: [
                Validator.isRequire(".name"),
                Validator.isRequire(".choice-cate"),
                Validator.isRequire(".choice-topic"),
                Validator.isRequire(".required"),
            ],
            onSubmit: function (data) {
                let value = document.querySelector("#Price").value;
                value = value.replaceAll(",","");
                document.querySelector("#Price").value = value;
                document.querySelector(".form-1").submit();
            }
        })

        let discountInput = document.querySelector('#Discount');
    discountInput.onchange = (e)=>{
        let value = discountInput.value;
        if(value < 0)
            discountInput.value = 0;
        if(value > 100)
            discountInput.value = 100;
    }
</script>
<script>


  function buy(t) {
    let IDCourse = t.getAttribute(`course`);
    $.get(`/course/buy?courseId=${IDCourse}`)

  }
  function addWatchList(t) {
    let IDCourse = t.getAttribute(`course`);
    $.get(`/course/addWatchList?courseId=${IDCourse}`)
  }
  function removeWatchList(t) {
    let IDCourse = t.getAttribute(`course`);
    $.get(`/course/removeWatchList?courseId=${IDCourse}`)
  }
  renderRating('.rating2')
</script>

<style>
  span.card-text {
    font-size: 14px;
    color: #333;
  }

  .card-text+ul li {
    list-style-type: disc
  }
</style>
<script>
    function matterialInput(){
    let inputs = document.querySelectorAll('input[type]:not([type="checkbox"])');
    Array.from(inputs).forEach(input =>{
            input.onclick = ()=>{
                let label = document.querySelector(`label[for='${input.id}']`)
                if(label)
                    label.classList.toggle('active', true);}
        
            input.onblur = ()=>{
                let label = document.querySelector(`label[for='${input.id}']`)
                if(label && input.value.length == 0)
                    label.classList.toggle('active', false);}
        }
    )
}
matterialInput()
</script>