<div class="row" style="margin-top: 7%;">
  <div class="col-8">
    <div style="margin-left: 5%; border-bottom: 1px solid black;">
      <iframe style="width: 100%;" width="853" height="480" src={{this.crrVideo.URL}} title="" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-left: 5%;">
      <a class="navbar-brand" href="#">Overview</a>

      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <div class="nav-link" style="cursor: pointer; font-size:large" data-toggle="modal"
              data-target="#exampleModal">Leave a rating
            </div>
            <div class="modal fade" id="exampleModal" aria-hidden="true">

              <div class="modal-dialog">
                <div class="modal-content" style="width: fit-content;">
                  <style>
                    .feedback-model {
                      position: relative;
                      width: 400px;
                      background: #111;
                      padding: 20px 30px;
                      border: 1px solid #444;
                      border-radius: 5px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      flex-direction: column;
                    }

                    .feedback-model .post {
                      display: none;
                    }

                    .feedback-model .text {
                      font-size: 25px;
                      color: #666;
                      font-weight: 500;
                    }

                    .feedback-model .edit {
                      position: absolute;
                      right: 10px;
                      top: 5px;
                      font-size: 16px;
                      color: #666;
                      font-weight: 500;
                      cursor: pointer;
                    }

                    .feedback-model .edit:hover {
                      text-decoration: underline;
                    }

                    .feedback-model .star-widget input {
                      display: none;
                    }

                    .star-widget label {
                      font-size: 40px;
                      color: #444;
                      padding: 10px;
                      float: right;
                      transition: all 0.2s ease;
                    }

                    input:not(:checked)~label:hover,
                    input:not(:checked)~label:hover~label {
                      color: #fd4;
                    }

                    input:checked~label {
                      color: #fd4;
                    }

                    input#rate-5:checked~label {
                      color: #fe7;
                      text-shadow: 0 0 20px #952;
                    }

                    #rate-1:checked~.form header:before {
                      content: "I just hate it ";
                    }

                    #rate-2:checked~.form header:before {
                      content: "I don't like it ";
                    }

                    #rate-3:checked~.form header:before {
                      content: "It is normal ";
                    }

                    #rate-4:checked~.form header:before {
                      content: "I like it ";
                    }

                    #rate-5:checked~.form header:before {
                      content: "I love it ";
                    }

                    .feedback-model .form {
                      display: none;
                    }

                    input:checked~.form {
                      display: block;
                    }

                    .feedback-model .form header {
                      width: 100%;
                      font-size: 25px;
                      color: #fe7;
                      font-weight: 500;
                      margin: 5px 0 20px 0;
                      text-align: center;
                      transition: all 0.2s ease;
                    }

                    .feedback-model .form .textarea {
                      height: 100px;
                      width: 100%;
                      overflow: hidden;
                    }

                    .feedback-model .form .textarea textarea {
                      height: 100%;
                      width: 100%;
                      outline: none;
                      color: #eee;
                      border: 1px solid #333;
                      background: #222;
                      padding: 10px;
                      font-size: 17px;
                      resize: none;
                    }

                    .textarea textarea:focus {
                      border-color: #444;
                    }

                    .feedback-model .form .btn {
                      height: 45px;
                      width: 100%;
                      margin: 15px 0;
                    }

                    .feedback-model .form .btn button {
                      height: 100%;
                      width: 100%;
                      border: 1px solid #444;
                      outline: none;
                      background: #222;
                      color: #999;
                      font-size: 17px;
                      font-weight: 500;
                      text-transform: uppercase;
                      cursor: pointer;
                      transition: all 0.3s ease;
                    }

                    .feedback-model .form .btn button:hover {
                      background: #1b1b1b;
                    }
                  </style>
                  <div class="feedback-model" style="margin: 0;">
                    <div class="post">
                      <div class="text">Thanks for rating us!</div>
                      <div class="edit">EDIT</div>
                    </div>
                    <div class="star-widget">
                      <input type="radio" value="5" name="rate" id="rate-5">
                      <label for="rate-5" class="fas fa-star"></label>
                      <input type="radio" value="4" name="rate" id="rate-4">
                      <label for="rate-4" class="fas fa-star"></label>
                      <input type="radio" value="3" name="rate" id="rate-3">
                      <label for="rate-3" class="fas fa-star"></label>
                      <input type="radio" value="2" name="rate" id="rate-2">
                      <label for="rate-2" class="fas fa-star"></label>
                      <input type="radio" value="1" name="rate" id="rate-1">
                      <label for="rate-1" class="fas fa-star"></label>
                      <div class="form">
                        <header></header>
                        <div class="textarea">
                          <textarea cols="30" placeholder="Describe your experience.." id="feedback"></textarea>
                        </div>
                        <div class="btn">
                          <button onclick="feedback(event)">Post</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <script>
                    function feedback(e) {
                      //e.preventDefault();
                      var star = document.querySelector('input:checked[type="radio"]').value;
                      var fb = document.querySelector('#feedback').value;
                      var courseId = {{ this.course.ID }};
                    console.log(star);
                    $.post(`/course/feedback`, {
                      star,
                      fb,
                      courseId,
                    }, function (data) {
                      const btn = document.querySelector("button");
                      const post = document.querySelector(".post");
                      const widget = document.querySelector(".star-widget");
                      const editBtn = document.querySelector(".edit");

                      widget.style.display = "none";
                      post.style.display = "block";
                      editBtn.onclick = () => {
                        widget.style.display = "block";
                        post.style.display = "none";
                      }
                    })
                    }
                  </script>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link" style="cursor: pointer; font-size:large" data-toggle="modal"
              data-target="#exampleModal2">My progress
            </div>
            <div class="modal fade" id="exampleModal2" aria-hidden="true">

              <div class="modal-dialog">
                <div class="modal-content"
                  style="height: fit-content;width:fit-content ;background-color: #111; display: flex; justify-content:center">

                  <style>
                    .box {

                      width: 300px;
                      height: 400px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      position: relative;
                      flex-direction: column;
                      box-shadow: 0 30px 60px rgba(0, 0, 0, .4);
                      transition: transform .2s;
                    }

                    
                    .box .percent {
                      width: 150px;
                      height: 150px;
                      position: relative;
                    }

                    .box .percent svg {
                      width: 150px;
                      height: 150px;
                      position: relative;
                    }

                    .box .percent svg circle {
                      width: 150px;
                      height: 150px;
                      fill: none;
                      stroke-width: 10;
                      stroke: #000;
                      transform: translate(5px, 5px);
                      stroke-dasharray: 440;
                      stroke-dashoffset: 440;
                      stroke-linecap: round;
                    }

                    .box .percent svg circle:nth-child(1) {
                      stroke-dashoffset: 0;
                      stroke: #f3f3f3;
                    }

                    .box .percent svg circle:nth-child(2) {
                      stroke-dashoffset: calc(440 - (440 * {{this.progress}}) / 100);
                      stroke: #03a9f4;
                    }

                    .box .percent .num {
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: 100%;
                      display: flex;
                      justify-content: center;
                      flex-direction: column;
                      align-items: center;
                      position: absolute;
                      color: #999;
                    }

                    .box .percent .num h2 {
                      font-size: 48px;
                    }

                    .box .percent .num h2 span {
                      font-size: 24px;
                    }

                    .box .text {
                      padding 10px 0 0;
                      color: #999;
                      font-weight: 700;
                      letter-spacing: 1px;
                      margin: 5%;
                    }
                  </style>
                  {{#if isFinish}}
                  <div class="box">
                    <div class="percent">
                      <svg>
                        <circle cx="70" cy="70" r="70"></circle>
                        <circle cx="70" cy="70" r="70"></circle>
                      </svg>
                      <div class="num">
                        <h2 style="color: #fd4;"><i class="fa fa-trophy" aria-hidden="true"></i></h2>
                        <h5 style="color: #fd4">Finished</h5>
                      </div>
                    </div>
                    <h3 style="color: #fd4; margin:5%"><i class="bi bi-activity"></i>{{this.progress}}%<i class="bi bi-activity"></i>
                    </h3>
                    <h2 class="text" style="color: #fd4;"><i class="bi bi-stars"></i> My Progress <i class="bi bi-stars"></i></h2>
                  </div>
                  {{else}}
                  <div class="box">
                    <div class="percent">
                      <svg>
                        <circle cx="70" cy="70" r="70"></circle>
                        <circle cx="70" cy="70" r="70"></circle>
                      </svg>
                      <div class="num">
                        <h2 style="color: ##999;"><i class="fa fa-trophy" aria-hidden="true"></i></h2>
                        <h5>Unfinished</h5>
                      </div>
                    </div>
                    <h3 style="color: #999; margin:5%"><i class="bi bi-activity"></i>{{this.progress}}%<i class="bi bi-activity"></i>
                    </h3>
                    <h2 class="text"><i class="bi bi-stars"></i> My Progress <i class="bi bi-stars"></i></h2>
                  </div>
                  {{/if}}

                </div>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </nav>
    <div style="margin-left: 5%; border-bottom: 1px solid black;">
      <div class="card-body col-10" style="padding-left: 0; padding-top: 0">

        <h1 class="card-title">{{this.course.Name}}</h1>
        <p class="card-text" style="font-size:x-large;">{{this.course.TinyDesc}}</p>
        <p class="card-text" style="font-size:medium;">Total Lecture:
          {{this.course.TotalLecture}}
          lectures
        </p>
        <p class="card-text" style="font-size:medium;">
          Total Length:
          {{convertMinuteToHour this.course.TotalLength}}
        </p>

        <p class="card-text" style="font-size:medium;">Average rating:
          {{#if this.course.AvgRating}} {{this.course.AvgRating}} {{else}} 0 {{/if}} <i class="fa fa-star" aria-hidden="true"></i>/5 <i class="fa fa-star"
            aria-hidden="true"></i></p>
        <p class="card-text" style="font-size:medium;">Number of rating: {{this.course.CountRating}}</p>
        <p class="card-text" style="font-size:medium;">Number of student: {{this.numOfStudent}}</p>
        <p class="card-text"><small class="text-muted">Last modify:
            {{this.course.ModifiedTime}}</small></p>

      </div>
      <a href="/course?id={{course.ID}}"><button style="margin-bottom:5%" type="button" class="btn btn-outline-dark">Back to detail course <i class="bi bi-box-arrow-left"></i></button>
    </a>
    </div>
    
     
  </div>
  <div class="col-4" style="border-left: 1px solid black;">
    <h3><i class="fa fa-book" aria-hidden="true"></i>
      Course content</h3>

    <div class="accordion" id="accordionExample">
      {{#each this.chapters}}
      <div class="card">
        <div class="card-header" id="heading1" style="padding-left:0">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
              data-target="#collapse{{IDChapter}}" aria-expanded="true" aria-controls="collapse{{IDChapter}}"
              style="text-decoration: none;">
              <h5 style="color: black;">{{Name}}</h5>
            </button>
          </h2>
        </div>

        <div id="collapse{{IDChapter}}" class="collapse show" aria-labelledby="heading{{IDChapter}}"
          data-parent="#accordionExample">
          <div class="card-body" style="padding: 0;">
            <div class="card">
              <form action="">
                <ul class="list-group list-group-flush">
                  {{#each (lookup ../videos @index) as |video|}}
                  {{#if (isMatch ../../this.crrVideo.Name video.Name)}}
                  <li class="list-group-item list-group-item-dark">
                    <div style="display: flex; justify-content:space-between"><span class="text">
                        <script> console.log({{ video.isWatched }})</script>
                        {{#if video.isWatched}}
                        <input type="checkbox" name="" id="" course={{video.IDCourse}} chapter={{video.IDChapter}}
                          no={{video.No}} onchange="watched(this, event)" checked />
                        {{else}}
                        <input type="checkbox" name="" id="" course={{video.IDCourse}} chapter={{video.IDChapter}}
                          no={{video.No}} onchange="watched(this, event)" />
                        {{/if}}

                        <a href="#" style="text-decoration: none; color: black">&nbsp; {{video.No}} {{video.Name}} </a>
                      </span>
                    </div>
                    <br>
                    <div class="text" style="display: flex;justify-content: flex-end;"><i class="bi bi-clock"></i>
                      &nbsp; {{convertMinuteToHour video.Length}}</div>
                  </li>
                  {{else}}
                  <li class="list-group-item">
                    <div style="display: flex; justify-content:space-between"><span class="text">

                        {{#if video.isWatched}}
                        <input type="checkbox" name="" id="" course={{video.IDCourse}} chapter={{video.IDChapter}}
                          no={{video.No}} onchange="watched(this, event)" checked />
                        {{else}}
                        <input type="checkbox" name="" id="" course={{video.IDCourse}} chapter={{video.IDChapter}}
                          no={{video.No}} onchange="watched(this, event)" />
                        {{/if}}
                        <a href="/course/{{video.IDCourse}}?chapterId={{video.IDChapter}}&lectureId={{video.No}}"
                          style="text-decoration: none; color: black">&nbsp; {{video.No}} {{video.Name}} </a></span>
                    </div>
                    <br>
                    <div class="text" style="display: flex;justify-content: flex-end;"><i class="bi bi-clock"></i>
                      &nbsp; {{convertMinuteToHour video.Length}}</div>
                  </li>
                  {{/if}}
                  {{/each}}
                </ul>
              </form>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
<script>
  function watched(t, e) {
    if (t.checked) {
      let IDCourse = t.getAttribute(`course`);
      let IDChapter = t.getAttribute(`chapter`);
      let No = t.getAttribute(`no`);
      $.get(`watched?courseId=${IDCourse}&chapterId=${IDChapter}&No=${No}`)
    }
    else {
      let IDCourse = t.getAttribute(`course`);
      let IDChapter = t.getAttribute(`chapter`);
      let No = t.getAttribute(`no`);
      $.get(`removeWatched?courseId=${IDCourse}&chapterId=${IDChapter}&No=${No}`)
    }
  }
</script>