<link rel='stylesheet' href='/public/css/home.css' />
<link rel='stylesheet' href='/public/css/search.css' />
<link rel='stylesheet' href='/public/css/badge.css' />
<link rel="stylesheet" href="/public/css/pagination.css">

<div class="container">
                <div class="row">
                {{#each listCourse as |course|}}
                <div class="col-auto mt-3">
					<a href="/course?id={{course.ID}}" class="anchor-cover"></a>
                    <div class="card product-item popover-{{course.ID}}" style="max-width:250px; min-width:250px" >
						{{#unless course.finish}}
							<div class="badge-overlay">
                                    <span class="top-left badge red">Not finished</span>
							</div>
							{{else}}
							<div class="badge-overlay">
								<span class="top-left badge green">Finished</span>
							</div>
						{{/unless}}
                        
                        <img src="/public/images/courses/{{course.ID}}.jpg" width="250" height="150" style="object-fit: fill;"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title product-title" style="min-height:38px">{{course.Name}}</h5>

                            <a href="/categories/{{course.IDCate}}?topicID={{course.IDTopic}}"><span class="text-muted product-category">{{course.TopicName}}</span></a>
                            <small class="text-muted">Instructor: {{course.Instructor}}</small>
                            <div class="rating mt-1" rating_score={{#if course.AvgRating}}{{course.AvgRating}}{{else}}0{{/if}} rating_count={{course.CountRating}}>
                            </div>
                            <div class="product-price-wrapper mt-3">
                            {{#if course.PercentDiscount}}
                                <span class="old-price ">{{formatCurrency course.CourseFee}}</span>
                            {{/if}}
                            <span class="new-price float-right" style="font-size: 20px;">{{formatCurrency (calculateNewPrice course.PercentDiscount course.CourseFee)}}</span>
                            </div>
                        </div>
                    </div>                    
                </div>
                {{/each}}
                </div>
                {{#if this.count}}
            <div class="page-container">
                <a class="first-page">
                <i class="fas fa-angle-double-left"></i>
                </a>
                <a class="prev-page">
                <i class="fas fa-angle-left"></i>
                </a>
                <div id="pagination"></div>
                <a class="next-page">
                <i class="fas fa-angle-right"></i>
                </a>
                <a class="last-page">
                <i class="fas fa-angle-double-right"></i>
                </a>
            </div>
            {{else}}
                <h4>You have never add any course to watchlist yet. Let's discover more course <a style="color: blue;" href="/">here</a> </h4>
                
                {{/if}}
</div> 

<script src="/public/script/rating.js"></script>
<script>
	renderRating(".rating")
</script>
<script src="/public/script/pagination.js">

</script>
<script>
    const valuePage = {
    totalPages: {{nPage}},
    curPage: {{page}},
    truncate: true,
    numLinksTwoSide: 1,
    url: `{{url}}`
    };
    pagination(valuePage);
</script>