<link rel='stylesheet' href='/public/css/home.css' />
<link rel='stylesheet' href='/public/css/search.css' />
<link rel='stylesheet' href='/public/css/badge.css' />
<link rel="stylesheet" href="/public/css/pagination.css">
<style>
	.btn-outline-danger{
		background-color: transparent;
	}
	.btn-outline-danger:hover {
    color: #fff;
    background-color: #dc3545!important;
    border-color: #dc3545;
	}
</style>
<div class="container">
                <div class="row">
                {{#each listCourse as |course|}}
                <div class="col-auto mt-3">
                    <div class="card product-item popover-{{course.ID}}" style="max-width:250px; min-width:250px" >
						<a href="/course?id={{course.ID}}">
							<img src="/public/images/courses/{{course.ID}}.jpg" width="250" height="150" style="object-fit: fill;"
								class="card-img-top" alt="...">
						</a>
                        <div class="card-body">
							<a href="/course?id={{course.ID}}">
								<h5 class="card-title product-title" style="min-height:38px">{{course.Name}}</h5>

								<a href="/categories/{{course.IDCate}}?topicID={{course.IDTopic}}"><span class="text-muted product-category">{{course.TopicName}}</span></a>
								<small class="text-muted">Instructor: {{course.Instructor}}</small>
								<div class="rating mt-1" rating_score={{#if course.AvgRating}}{{course.AvgRating}}{{else}}0{{/if}} rating_count={{course.CountRating}}>
								</div>
							</a>
							<form action="delete-watchlist" method="POST" class="form-1" style="display: flex;justify-content: space-between">
								<input type="text" name="id" value="{{course.ID}}" style="display: none;">
								<button class="btn-sm btn-outline-danger" style="    margin-top: 13px;" 
									 type="submit">
									<i class="fa-solid fa-trash"></i>
								</button>
								<div class="product-price-wrapper mt-3">
                            		{{#if course.PercentDiscount}}
                               	 		<span class="old-price ">{{formatCurrency course.CourseFee}}</span>
                           			{{/if}}
                            			<span class="new-price float-right" style="font-size: 20px;">{{formatCurrency (calculateNewPrice course.PercentDiscount course.CourseFee)}}</span>
                            	</div>
							</form>
                        </div>
                    </div>                    
                </div>
                {{/each}}
                </div>
				 {{#if this.count}}
            <div class="page-container">
                <a class="first-page">
                <i class="fas fa-angle-double-left"></i>
                </a>
                <a class="prev-page">
                <i class="fas fa-angle-left"></i>
                </a>
                <div id="pagination"></div>
                <a class="next-page">
                <i class="fas fa-angle-right"></i>
                </a>
                <a class="last-page">
                <i class="fas fa-angle-double-right"></i>
                </a>
            </div>
                {{else}}
                <h4>You have never add any course to watchlist yet. Let's discover more course <a style="color: blue;" href="/">here</a> </h4>
                {{/if}}
</div> 
<script src="/public/script/rating.js"></script>
<script>
	renderRating(".rating")
</script>
<script src="/public/script/pagination.js">

</script>
<script>
    const valuePage = {
    totalPages: {{nPage}},
    curPage: {{page}},
    truncate: true,
    numLinksTwoSide: 1,
    url: `{{url}}`
    };
    pagination(valuePage);
</script>