<link rel='stylesheet' href='/public/css/badge.css' />
<link rel="stylesheet" href="/public/css/pagination.css">
<div class="card">
  <div class="card-header">
    All Courses
  </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Created Time</th>
          </tr>
        </thead>
        <tbody>
          {{#if this.isEmpty}}
            <tr>
              <td colspan="3"><h4>Student has not purchased any courese</h4></td>
            </tr>
            
          {{else}}
            {{#each this.list}}
            <tr>
              <th scope="col">{{ID}}</th>
              <td scope="col">{{Name}}</td>
              <td>{{formatDate CreatedTime}}</td>
            </tr>
          {{/each}}
          
          {{/if}}
        </tbody>
      </table>
 
      <div class="page-container">
                <a class="first-page">
                <i class="fas fa-angle-double-left"></i>
                </a>
                <a class="prev-page">
                <i class="fas fa-angle-left"></i>
                </a>
                <div id="pagination"></div>
                <a class="next-page">
                <i class="fas fa-angle-right"></i>
                </a>
                <a class="last-page">
                <i class="fas fa-angle-double-right"></i>
                </a>
            </div>
</div>
  <div class="card-footer text-muted">
    <a name="" id="" class="btn btn-outline-success" href="/admin/user?role=2" role="button">
      <i class="fa fa-sign-out" aria-hidden="true"></i>
      Back</a>
</div>
<script src="/public/script/pagination.js">

</script>
<script>
    const valuePage = {
    totalPages: {{this.nPage}},
    curPage: {{this.page}},
    truncate: true,
        numLinksTwoSide: 1,
        url: `{{url}}`
    };
    pagination(valuePage);
</script>
