<link rel='stylesheet' href='/public/css/badge.css' />
<link rel="stylesheet" href="/public/css/pagination.css">
<div class="card">
  <div class="card-header">
    All Courses
  </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Created Time</th>
            <th scope="col">Instructor</th>
            <th scope="col">Disabled</th>
          </tr>
        </thead>
        <tbody>
          {{#if this.isEmpty}}
           
          {{else}}
            {{#each this.list}}
            <tr>
              <th scope="col">{{ID}}</th>
              <td scope="col"><a href="/course?id={{ID}}">
              <img class="img-thumbnail " src="/public/images/courses/{{ID}}.jpg" alt=""  width="50" 
              height="500">
              {{Name}}</a></td>
              <td scope="col">{{formatDate CreatedTime}}</td>
              <td scope="col">{{FullName}}</td>
              <td scope="col" class="d-flex">
                <form action="/admin/course/disabled?id={{ID}}" method="POST" class="justify-content-center">
                {{#if disable}}
                  <button type="submit" name="status" value="enable" class="btn btn-outline-success justify-content-center "> Enable</button>
                {{else}}
                 <button type="submit" name="status" value="disable" class="btn btn-outline-danger justify-content-center"> Disable</button>
              {{/if}}</td>
                </form>
               
            </tr>
          {{/each}}
          
          {{/if}}
        </tbody>
      </table>
 {{#if nPage}}
      <div class="page-container">
                <a class="first-page">
                <i class="fas fa-angle-double-left"></i>
                </a>
                <a class="prev-page">
                <i class="fas fa-angle-left"></i>
                </a>
                <div id="pagination"></div>
                <a class="next-page">
                <i class="fas fa-angle-right"></i>
                </a>
                <a class="last-page">
                <i class="fas fa-angle-double-right"></i>
                </a>
      </div>
      {{/if}}
</div>
  <div class="card-footer text-muted">
   
</div>
<script src="/public/script/pagination.js">

</script>
<script>
  {{#if nPage}}
const valuePage = {
    totalPages: {{this.nPage}},
    curPage: {{this.page}},
    truncate: true,
        numLinksTwoSide: 1,
        url: `{{url}}`
    };
    pagination(valuePage);
  {{/if}}
    
</script>
