<link rel='stylesheet' href='/public/css/badge.css' />
<link rel="stylesheet" href="/public/css/pagination.css">
<style>
        /* Initially, hide the extra text that
            can be revealed with the button */
        #moretext {
            /* Display nothing for the element */
            display: none;
        }
    </style>
<div class="card">
  <div class="card-header">
    Instructor
  </div>
  <form action="/admin/instructor/del?id={{this.instructor.IDUser}}" method="POST">
    <div class="card-body">
    <h5>Profile</h5>
     <div class="form-group row">
        <label for="fullname" class="col-4 col-form-label ">Full Name: </label> 
        <div class="col-8">
          <p>{{this.instructor.FullName}}</p>
        </div>
      </div>
      <div class="form-group row">
          <label for="email" class="col-4 col-form-label ">Email:</label> 
          <div class="col-8">
            <p>{{this.instructor.Email}}</p>
          </div>
      </div>
      <div class="form-group row">
          <label for="bio" class="col-4 col-form-label "> Biograpphy:</label> 
          <div class="col-8">
            {{{this.instructor.Bio}}}
          </div>
      </div>
  <table class="table table-bordered">
    <h5>Couses uploaded by {{this.instructor.FullName}}</h5>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Created Time</th>
    </tr>
  </thead>
  <tbody>
    {{#if this.isEmpty}}
        <tr>
          <td colspan="3"><h4>Instructor has not uploaded any courese</h4></td>
        </tr>
        
      {{else}}
        {{#each this.courses}}
        <tr>
          <th scope="col">{{ID}}</th>
          <td scope="col">{{Name}}</td>
          <td>{{formatDate CreatedTime}}</td>
        </tr>
      {{/each}}
     
     {{/if}}      
    
  </tbody>
</table>
{{#if this.isEmpty}}
{{else}}
<div class="page-container">
                <a class="first-page">
                <i class="fas fa-angle-double-left"></i>
                </a>
                <a class="prev-page">
                <i class="fas fa-angle-left"></i>
                </a>
                <div id="pagination"></div>
                <a class="next-page">
                <i class="fas fa-angle-right"></i>
                </a>
                <a class="last-page">
                <i class="fas fa-angle-double-right"></i>
                </a>
      </div>
  </div>
  {{/if}}      
  
  <div class="card-footer text-muted">
    <a name="" id="" class="btn btn-outline-success" href="/admin/user?role=1" role="button">
      <i class="fa fa-sign-out" aria-hidden="true"></i>
      Back</a>
    <button type="submit" name="" id="" class="btn btn-danger mr-4"> 
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        Delete </button>
  </div>
  </form>
</div>
<script src="/public/script/pagination.js">


</script>

{{#if this.isAlert}}
    <script>
    Swal.fire({
  icon: '{{this.icon}}',
  title: '{{this.title}}',
  showConfirmButton: true,
  timer: 2500
})
    </script>
{{/if}}

<script>
    const valuePage = {
    totalPages: {{this.nPage}},
    curPage: {{this.page}},
    truncate: true,
        numLinksTwoSide: 1,
        url: `{{url}}`
    };
    pagination(valuePage);
</script>

