<link rel='stylesheet' href='/public/css/badge.css' />
<link rel="stylesheet" href="/public/css/pagination.css">
<div class="card">
  <div class="card-header">
    Instructor
  </div>
  <form action="/admin/user/disable?id={{this.instructor.IDUser}}" method="POST">
    <div class="card-body">
    <h5>Profile</h5>
     <div class="form-group row">
        <label for="fullname" class="col-3 col-form-label ">Full Name: </label> 
        <div class="col-9">
          <p>{{this.instructor.FullName}}</p>
        </div>
      </div>
      <div class="form-group row">
          <label for="email" class="col-3 col-form-label ">Email:</label> 
          <div class="col-9">
            <p>{{this.instructor.Email}}</p>
          </div>
      </div>
       <div class="form-group row">
          <label for="email" class="col-3 col-form-label ">Current Job:</label> 
          <div class="col-9">
            <p>{{this.instructor.CurrentJob}}</p>
          </div>
      </div>
      <div class="form-group row">
          <label for="bio" class="col-3 col-form-label" > Biograpphy:</label> 
          <div class="col-9" style=" height:400px; overflow:auto;">
            {{{this.instructor.Bio}}}
          </div>
      </div>
  <table class="table table-bordered">
    <h5>Couses uploaded by {{this.instructor.FullName}}</h5>
  <thead>
    <tr>
      <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Created Time</th>
            <th scope="col">Disabled</th>
    </tr>
  </thead>
  <tbody>
    {{#if this.isEmpty}}
        <tr>
          <td colspan="3"><h4>Instructor has not uploaded any courese</h4></td>
        </tr>
        
      {{else}}
        {{#each this.courses}}
        <tr>
          <tr>
              <th scope="col">{{ID}}</th>
              <td scope="col"><a href="/course?id={{ID}}">
              <img class="img-thumbnail " src="/public/images/courses/{{ID}}.jpg" alt=""  width="50" 
              height="500">
              {{Name}}</a></td>
              <td scope="col">{{formatDate CreatedTime}}</td>
              <td scope="col" class="d-flex">
                
                {{#if disable}}
                  <button type="submit" disabled class="btn btn-outline-success justify-content-center "> Enable</button>
                {{else}}
                 <button type="submit" disabled class="btn btn-outline-danger justify-content-center"> Disable</button>
              {{/if}}</td>

               
            </tr>
        </tr>
      {{/each}}
     
     {{/if}}      
    
  </tbody>
</table>
{{#if this.isEmpty}}
{{else}}
<div class="page-container">
                <a class="first-page">
                <i class="fas fa-angle-double-left"></i>
                </a>
                <a class="prev-page">
                <i class="fas fa-angle-left"></i>
                </a>
                <div id="pagination"></div>
                <a class="next-page">
                <i class="fas fa-angle-right"></i>
                </a>
                <a class="last-page">
                <i class="fas fa-angle-double-right"></i>
                </a>
      </div>
  </div>
  {{/if}}      
  
  <div class="card-footer text-muted">
    <a name="" id="" class="btn btn-outline-success" href="/admin/user?role=1" role="button">
      <i class="fa fa-sign-out" aria-hidden="true"></i>
      Back</a>
      {{#if this.instructor.disable}}
      <button type="submit" name="status" value="enable" id="" class="btn btn-success mr-4"> 
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        Enable
         </button>
      {{else}}
      <button type="submit" name="status" value="disable" id="" class="btn btn-danger mr-4"> 
        <i class="fa fa-ban" aria-hidden="true"></i>
        Disable
         </button>  
      {{/if}}
    
  </div>
  </form>
</div>
<script src="/public/script/pagination.js">


</script>

{{#if this.isAlert}}
    <script>
    Swal.fire({
  icon: '{{this.icon}}',
  title: '{{this.title}}',
  showConfirmButton: true,
  timer: 2500
})
    </script>
{{/if}}

<script>
    const valuePage = {
    totalPages: {{this.nPage}},
    curPage: {{this.page}},
    truncate: true,
        numLinksTwoSide: 1,
        url: `{{url}}`
    };
    pagination(valuePage);
</script>

