
<div class="card">
  <div class="card-header">
    Student
  </div>
    <div class="card-body">
    <h5>Profile</h5>
     <div class="form-group row">
        <label for="fullname" class="col-4 col-form-label ">Full Name: </label> 
        <div class="col-8">
          <p>{{this.student.FullName}}</p>
        </div>
      </div>
      <div class="form-group row">
          <label for="email" class="col-4 col-form-label ">Email:</label> 
          <div class="col-8">
            <p>{{this.student.Email}}</p>
          </div>
      </div>
      <table class="table table-bordered">
        <h5>Couses bought by {{this.student.FullName}}</h5>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Created Time</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
            {{#each this.courses}}
            <tr>
              <th scope="col">{{ID}}</th>
              <td scope="col"><a href="/course?id={{ID}}">{{Name}}</a></td>
              <td>{{formatDate CreatedTime}}</td>
              <td>
               {{#if disable}}
                  <button type="submit" disabled class="btn btn-outline-danger justify-content-center"> Disable</button>
                {{else}}
                 <button type="submit" disabled class="btn btn-outline-success justify-content-center "> Enable</button>
              {{/if}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
</div>
<form action="/admin/user/disable?id={{this.student.IDUser}}" method="POST">
  <div class="card-footer text-muted">
    <a name="" id="" class="btn btn-outline-success" href="/admin/user?role=2" role="button">
      <i class="fa fa-sign-out" aria-hidden="true"></i>
      Back</a>
      {{#if this.student.disable}}
      <button type="submit" name="status" value="enable" id="" class="btn btn-success mr-4"> 
        <i class="fa fa-unlock" aria-hidden="true"></i>
        Enable
         </button>
      {{else}}
      <button type="submit" name="status" value="disable" id="" class="btn btn-danger mr-4"> 
        <i class="fa fa-lock" aria-hidden="true"></i>
        Disable
         </button>  
      {{/if}}
</div>
</form>



