<div class="card">
  <div class="card-header">
    Student
  </div>
    <div class="card-body">
    <h5>Profile</h5>
     <div class="form-group row">
        <label for="fullname" class="col-4 col-form-label ">Full Name: </label> 
        <div class="col-8">
          <p>{{this.student.FullName}}</p>
        </div>
      </div>
      <div class="form-group row">
          <label for="email" class="col-4 col-form-label ">Email:</label> 
          <div class="col-8">
            <p>{{this.student.Email}}</p>
          </div>
      </div>
      <table class="table table-bordered">
        <h5>Couses bought by {{this.student.FullName}}</h5>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Created Time</th>
          </tr>
        </thead>
        <tbody>
            {{#each this.courses}}
            <tr>
              <th scope="col">{{ID}}</th>
              <td scope="col">{{Name}}</td>
              <td>{{formatDate CreatedTime}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
</div>
<form action="/admin/student/del?id={{this.student.IDUser}}" method="POST">
  <div class="card-footer text-muted">
    <a name="" id="" class="btn btn-outline-success" href="/admin/user?role=2" role="button">
      <i class="fa fa-sign-out" aria-hidden="true"></i>
      Back</a>
      <button type="submit" name="" id="" class="btn btn-danger mr-4"> 
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        Delete </button></form>
</div>
</form>

