<div class="card">
  <div class="card-header">
    Categories
  </div>
  <div class="card-body">
    {{#if this.isEmpty}}
      <p>No Data</p>
    {{else}}
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {{#each this.catList}}
            <tr >
            <td>{{IDCate}}</td>
            <td>
              <a name="" id="" class="btn" href="/admin/categories/topic?id={{IDCate}}" role="button">
              <i class="fa fa-eye" style="color: blue;" aria-hidden="true" ></i>
                {{Name}}</a>
              </td>
            <td><a name="" id="" class="btn btn-outline-primary float-right" href="/admin/categories/edit?id={{IDCate}}" role="button">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
            </a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
    
    
  </div>
  <div class="card-footer text-muted">
    <a name="" id="" class="btn btn-outline-primary" href="/admin/categories/add" role="button">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
    Add Categories</a>
  </div>
</div>

