<div class="card">
  <div class="card-header">
   Topic
  </div>
  <div class="card-body">
    {{#if this.isEmpty}}
      <p>No Data</p>
    {{else}}
      <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Topics</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each this.topicList}}
      <tr >
      <td>{{IDTopic}}</td>
      <td> {{Name}} </td>
      <td><a name="" id="" class="btn-sm btn-outline-primary float-right" href="/categories/topic/edit?id={{IDTopic}}&catid={{IDCate}}" role="button">
       <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
    {{/if}}
  </div>
  <div class="card-footer text-muted">
    <a name="" id="" class="btn btn-primary" href="/admin/categories" role="button">
      <i class="fa fa-sign-out" aria-hidden="true"></i>
      Back</a>
    <a name="" id="" class="btn btn-outline-primary" href="/admin/categories/topic/add?catid={{this.catId}}" role="button"> 
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
    Add Topics</a>
  </div>
</div>