<link rel='stylesheet' href='/public/css/home.css' />
<link rel='stylesheet' href='/public/css/search.css' />
<link rel='stylesheet' href='/public/css/badge.css' />
<link rel="stylesheet" href="/public/css/pagination.css">
<div class='container-lg ml-4 mr-4 mb-5' style='margin-top: 100px;'>
    <div class="overlay-screen hidden-overlay"></div>
    <div class='row'>
        <div class='col-4 side' style="max-width: 350px">
            <div class="row">
                <div class="row result-count dumb ml-3"> 
                    <div class="col">{{nResults}} courses for {{name}}</div>
                    <div class="col-auto" style="text-align: right;"><a style="z-index: 999;" id="btn-collapse" href="#"><i class="bi bi-x-lg" style="font-size: 24px"></i></a></div>
                </div>
            </div>
            <div class="row">
                <div class="just-padding ml-3 mt-3" style="flex: 1;">
                    <div class="list-group list-group-root well">
                        {{#each allCats as |cat|}}        
                            <a href="/categories?catID={{cat.IDCate}}" class="list-group-item {{#if cat.active}}active-side{{/if}}"><b>{{cat.Name}}</b></a>
                            {{#if cat.active}}
                                <div class="list-group">
                                    {{#each (lookup ../allTopics @index) as |topic|}}
                                    <a href="/categories/{{topic.IDCate}}?topicID={{topic.IDTopic}}" class="list-group-item {{#if topic.active}}active-child{{/if}}">{{topic.Name}}</a>
                                    {{/each}}
                                 </div>                                                
                            {{/if}}
                            
                        {{/each}}
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto " style="text-align: right;"><a class="hidden" style="z-index: 999;" id="btn-open" href="#"><i class="bi bi-list" style="font-size: 24px; color: black;"></i></a></div>
        <div class='col ml-5'>
            <div class="outstanding-course mt-5">
                <p>Relevent Courses</p>
            </div>
            <div class="row">
                {{#if this.isEmpty}}
                <p>No data</p>
                {{else}}
                {{#each coursesList as |course|}}
                <div class="col-auto mt-3">
                    <div class="card product-item popover-{{course.ID}}" style="max-width:300px; min-width:300px">
                        <img src="/public/images/courses/{{course.ID}}.jpg" width="250" height="150"
                            style="object-fit: fill;" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title product-title">{{course.Name}}</h5>
                            <span class="text-muted product-category">{{course.TopicName}}</span>
                            <small class="text-muted">Ins: {{course.Instructor}}</small>
                            <div class="rating mt-1" rating_score={{#if
                                course.AvgRating}}{{course.AvgRating}}{{else}}0{{/if}}
                                rating_count={{course.CountRating}}>
                            </div>
                            <div class="product-price-wrapper mt-3">
                                {{#if course.PercentDiscount}}
                                <span class="old-price ">{{formatCurrency course.CourseFee}}</span>
                                {{/if}}
                                <span class="new-price float-right" style="font-size: 22px;">{{formatCurrency
                                    (calculateNewPrice course.PercentDiscount course.CourseFee)}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{/if}}
            </div>
            <div class="page-container">
                <a class="first-page">
                <i class="fas fa-angle-double-left"></i>
                </a>
                <a class="prev-page">
                <i class="fas fa-angle-left"></i>
                </a>
                <div id="pagination"></div>
                <a class="next-page">
                <i class="fas fa-angle-right"></i>
                </a>
                <a class="last-page">
                <i class="fas fa-angle-double-right"></i>
                </a>
            </div>
        </div>

    </div>
</div>


<script src='/public/script/rating.js'></script>
<script src="/public/script/pagination.js">

</script>
<script>
    const valuePage = {
    totalPages: {{nPage}},
    curPage: {{page}},
    truncate: true,
    numLinksTwoSide: 1,
    url: `{{url}}`
    };
    pagination(valuePage);
</script>

<script src='/public/script/rating.js'></script>
<script>
    renderRating('.rating')

    let closeBtn = document.querySelector('#btn-collapse');
    let openBtn = document.querySelector('#btn-open');
    let sideBar = document.querySelector('.side');
    let overlay = document.querySelector('.overlay-screen');

    openBtn.onclick = ()=>{
        sideBar.classList.toggle('collapse-active')
        openBtn.classList.toggle('hidden')
        overlay.classList.remove('hidden-overlay')
    }
    closeBtn.onclick = ()=>{
        sideBar.classList.toggle('collapse-active')
        openBtn.classList.toggle('hidden')
        overlay.classList.add('hidden-overlay')
    }
    bodyElement = document.getElementsByTagName("BODY")[0];
    if(bodyElement.offsetWidth <= 992){
        sideBar.classList.add('collapse-active')
        openBtn.classList.remove('hidden')
        overlay.classList.add('hidden-overlay')
    }
    window.onresize = ()=>{
      newWidth = bodyElement.offsetWidth;
      if(newWidth <= 992){
        sideBar.classList.add('collapse-active')
        openBtn.classList.remove('hidden')
        overlay.classList.add('hidden-overlay')
      }
    }
</script>

<style>
    .side{
        font-family: "Gentleman";
    }
    .just-padding {
  padding: 15px;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px;
}


.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 45px;
}
.active-side{
  background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

  border: none;
  color: white;
  cursor: pointer;
  transition:all 0.1s ease-in-out;
  box-shadow: 0px 17px 99px -7px rgba(243,64,121,0.51);
}
.active-child{
background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

  border: none;
  border-radius: 12px;
  color: white
  cursor: pointer;
  transition:all 0.1s ease-in-out;
  box-shadow: 0px 17px 99px -7px rgba(243,64,121,0.51);
}
</style>
